.bc_box {
    width: 250px;
    height: 280px;
    background: white;
    color: black;
    display: block;
    position: absolute;
    z-index: 10;
    top: 322px;
    left: 355px;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-width: 0.5px;
    padding: 0.05px;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border: none;
    box-shadow: 1px 1px 5px 5px #8e8e8e3d;
}
h3.bc_header {
    font-weight: bold;
    width: 100%;
    border-bottom: solid 1px grey;
    padding: 0.25em;
    margin-bottom: 0;
}
.bc_input {
	width: 100%;
    margin-top: 5px;
}

.bc_input.submit {
    color: #FFF;
    background-color: #0095ff;
    border-color: #07c;
    box-shadow: inset 0 1px 0 #66bfff;
}
