.bc_box {
    width: 250px !important;
    background: white !important;
    color: black !important;
    display: block !important;
    position: absolute !important;
    z-index: 1000 !important;
    border-radius: 8px !important;
    border-top-left-radius: 0px !important;
    border-width: 0.5px !important;
    padding: 0.05px !important;
    border-radius: 8px !important;
    border-top-left-radius: 0px !important;
    border: none  !important;
    box-shadow: 1px 1px 5px 5px #8e8e8e3d;
    font-family: sans-serif !important;
    font-size: 12px !important;
}

.bc_box_tiny {
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    z-index: 1000;
    border: none;
}


h3.bc_header {
    font-weight: bold !important;
    width: 80% !important;
    display: inline-block !important;
    padding: 0.25em !important;
    margin-bottom: 0 !important;
    font-family: sans-serif !important;
    font-size: 14px !important;    
}
.bc_input {
    width: 245px !important;
    margin-left: 1% !important;
    margin-top: 5px !important;
    font-family: sans-serif !important;
    font-size: 12px !important;
    padding: 5px !important;
}
button.bc_header.cancel {
    display: inline-block !important;
    float: right !important;
    font-family: sans-serif !important;
    font-size: 16px !important;
    background: none !important;
    border: none !important;
}
.bc_input.submit {
    width: 250px !important;
    margin-left: -0.5px !important;
    border-radius: 0 0 5px 5px !important;
    background-color: rgb(0, 149, 255) !important;
    padding: 10px !important;
    color: white !important;
    font-family: sans-serif !important;
    font-size: 12px !important;
}
input#BC_nf_sourceUrl {
    font-size: 12px !important;
    padding-left: 5px !important;
    font-family: sans-serif !important;
    font-size: 12px !important;
}
